.insurance-bg {
  background-color: var(--cor-11);
}

.insurance {
  padding-top: 60px;
  padding-bottom: 120px;
}

#insurance .insurance {
  padding-top: 0;
}

.insurance h2 {
  margin-bottom: 60px;
}

.insurance-plans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.insurance-silver,
.insurance-gold {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 64px;
  border-radius: 5px;
}

.insurance-silver {
  padding-top: 72px;
}

.insurance-silver {
  box-shadow: inset 0 40px var(--cor-11), inset 0 -40px var(--cor-11); ;
}

.insurance-plans h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.silver-info,
.gold-info {
  display: flex;
  justify-content: space-between;
}

.silver-info span,
.gold-info span {
  display: inline-block;
  position: relative;
}

.silver-info span::after,
.gold-info span::after {
  content: "mensal";
  font: 600 0.75rem/1.3 "Poppins", sans-serif;
  display: block;
  color: var(--cor-6);
  position: absolute;
  right: 0px;
  top: 32px;
}

.insurance-plans li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.insurance-plans li:last-child {
  margin-bottom: 32px;
}

.insurance-plans li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -21px;
}

@media (max-width: 800px) {
  .insurance-plans {
    grid-template-columns: 1fr;
  }
  .insurance-silver {
    box-shadow: initial;
    padding: 32px 32px 32px 64px;
  }
}

@media (max-width: 550px) {
  .insurance-silver, .insurance-gold {
    padding: 32px;
  }
  .insurance-plans li::before {
    left: -18px;
  }
}