.tech-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tech-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.tech-content {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tech-content > span {
  display: block;
  margin-bottom: 20px;
}

.tech-content h2 {
  margin-bottom: 32px;
}

.tech-content > p {
  margin-bottom: 20px;
}

.tech-content a {
  margin-bottom: 80px;
}

.tech-benefits {
  display: flex;
  gap: 40px;
}

.tech-benefits h3 {
  margin-bottom: 8px;
  width: max-content;
}

.tech-benefits img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px){
  .tech {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .tech-bg {
    box-shadow: initial;
  }
  .tech-content {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .tech-img {
    display: none;
  }
  .tech a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px){
  .tech-benefits{
    flex-direction: column;
  }
}